.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 12px 24px;
  font-size: 14;
  border-bottom: 1px solid #d4d6da;
  background-color: var(--page-background-color);
  z-index: 99;
}

.user-profile-main {
  position: relative;
  overflow: visible;
}
.user-profile-container {
  display: flex;
  align-items: center;
  column-gap: 9px;
  height: 42px;
  border-radius: 9999px;
  border: 1px solid var(--border-color);
  padding-left: 13px;
  padding-right: 6px;
  cursor: pointer;
  user-select: none;
}

.user-profile {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.user-image {
  object-fit: cover;
  border-radius: 50%;
}

.arrow-icon {
  width: 16px;
  height: 16px;
  color: var(--secondary-font-color);
  transition: transform 0.2s ease;
}

.up-arrow {
  transform: scale(-1);
}

.bottom-arrow:hover {
  transform: scale(1.2);
}

.up-arrow:hover {
  transform: scale(-1.2);
}

.nav {
  display: flex;
  column-gap: 32px;
  justify-content: center;
  align-items: center;
}

.nav-item {
  color: var(--secondary-font-color);
  text-decoration: none;
}

.header-content {
  display: flex;
  align-items: center;
  column-gap: 51px;
}

.is-selected {
  color: var(--primary-color);
}

.header-content > h2 {
  font-weight: bold;
  color: var(--primary-color);
}
