.room-page {
    display: flex;
    column-gap: 32px;
    padding: 32px 104px;
}

.room-info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 60%;
}

.room-actions {
    width: 20%;
}